<head>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js" 
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
		crossorigin="anonymous">
	</script>
</head>
<body>
<header>
	<h1>wine<span>list</span></h1>
	<h2>A simple wine list. Built with NodeJS, wine, and love <3</h2>
</header>

<section class="form">
	<input type="text" id="wineInput" name="name" placeholder="What wine did you drink...">
</section>

<ul class="list">
	
</ul>

<script type="text/javascript" src="app.js"></script>
</body>